*{
    margin: 0px;
    padding: 0px;
}
.lmntcont {
    background-image: url('https://i.pinimg.com/originals/a0/ce/c7/a0cec76b4297c2381fcc16b757cede7b.gif');
    width: 60%;
    height: 335px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 255px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: whitesmoke;
}
