*{
    margin: 0px;
    padding: 0px;
}

.lmnt-bg{
    background-image: url('https://i.pinimg.com/originals/a0/ce/c7/a0cec76b4297c2381fcc16b757cede7b.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}

.lmnt-git-icon{
    width: 30px;
    height: 30px;
    border-radius: 20px;
 }
 
.lmnt-title{
    background-color: black;
    color: rgb(234, 0, 255);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.lmnt-emblem{
    margin-left: 655px;
    width: 70px;
}

.lmnt-team-site-btn{
    background-color: black;
    color: rgb(255, 251, 0);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding-block: 30px;
    font-size: x-large;
}

/* */
.lmnt-pjms{
    background-color: rgb(0, 0, 0);
    width: 200px;
    margin-left: 332px;
    color: rgb(234, 0, 255);
}
.lmnt-james{
    width:35px;
    margin-top: 1px;
    border-radius: 25px; 
    height: 30px;
}
.lmnt-louie{
    width:35px;
    margin-top: 1px;
    border-radius: 25px; 
    height: 30px;
}
.lmnt-ploy{
    background-color: rgb(0, 0, 0);
    width: 220px;
    margin-left: 322px;
    color: rgb(234, 0, 255);
}
.lmnt-louella{
    width:35px;
    margin-top: 1px;
    border-radius: 25px; 
    height: 30px; 
}
.lmnt-plou{
    background-color: rgb(0, 0, 0);
    width: 240px;
    margin-left: 312px;
    color: rgb(234, 0, 255);
}
.lmnt-pjncyl{
    background-color: rgb(0, 0, 0);
    width: 160px;
    margin-left: 353px;
    color: rgb(234, 0, 255);
    text-align: center;
}

/*
.lmnt-body {
    background-image: url('https://i.pinimg.com/originals/a0/ce/c7/a0cec76b4297c2381fcc16b757cede7b.gif');
    width: 60%;
    height: 335px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 255px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: whitesmoke;
}*/

