*{
    margin: 0px;
    padding: 0px;
}
.lmntcont {
    background-image: url('https://i.pinimg.com/originals/a0/ce/c7/a0cec76b4297c2381fcc16b757cede7b.gif');
    width: 60%;
    height: 335px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 255px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: whitesmoke;
}
.lmntgit{
    width: 30px;
    height: 30px;
    border-radius: 20px;
 }
 .lmntbg{
    background-image: url('https://i.pinimg.com/originals/c2/b4/38/c2b438ec742e21bd979e4e111941d28b.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}
.lmnttitle{
    margin-left: 630px;
    background-color: black;
    color: yellow;
    width: 120px;
}
.lmntpic{
    margin-left: 655px;
    width: 70px;
}
.lmnthead{
    color: rgb(234, 0, 255);
    margin-left:355px;
}
.lmntpjms{
    background-color: rgb(0, 0, 0);
    width: 200px;
    margin-left: 332px;
    color: rgb(234, 0, 255);
}
.lmntjames{
    width:35px;
    margin-top: 1px;
    border-radius: 25px; 
    height: 30px;
}
.lmntlouie{
    width:35px;
    margin-top: 1px;
    border-radius: 25px; 
    height: 30px;
}
