.codegeek-members{
    margin-left: 5%; 
    color: rgb(255, 255, 255); 
    font-family: monospace; 
    font-size: 18px;
}
.codegeek-header{
    background-image: url(https://media.giphy.com/media/dqI61vJ1ApuPm/giphy.gif); 
    object-position: center; 
    border-width: 2.5px; 
    border-style: solid; 
    border-color: rgb(16, 81, 221); 
    box-shadow: -5px 0 5px 5px rgba(0, 225, 255, 0.25), 5px 0 5px 5px rgba(0, 225, 255, 0.25), 0 -5px 5px 5px rgba(0, 225, 255, 0.25); 
    font-family: Roboto; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position-y: -40px;
}
.codegeek{
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-weight: 1000; 
    -webkit-text-stroke: 2px black; 
    font-style: italic; 
    font-size: 40px;
}
.codegeek-cover{
    background-image: url(https://media.giphy.com/media/3ov9k7W6qpJPyFmHuM/giphy.gif); 
    border-width: 2.5px; 
    border-style: solid; 
    border-color: rgb(38, 97, 226); 
    box-shadow: -5px 0 5px 5.5px rgba(0, 225, 255, 0.25), 5px 0 5px 5.5px rgba(0, 225, 255, 0.25); 
    background-size: auto; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.codegeek-emblem{
    width: 70px; 
    display: block; 
    margin-left: 42.5%; 
    margin-top: 5px;
}
.codegeek-profile{
    border-radius: 100%; 
    box-shadow: 0 0 10px aqua;
    width:25px; 
    height:25px;
}
.codegeek-git{
width:25px;
     height:25px;
    border-radius: 100%; 
    box-shadow: 0 0 10px aqua;
}
.GEEK{
    color:rgb(221, 216, 216);
}