.decoders-bg{
background-image: url('https://i.pinimg.com/originals/48/69/10/48691010fc420959ddbad33ab95f323b.gif');
background-size: cover;
height: auto;
}
.decoders-logo{
    width: 80%;
    padding-top: 5%;
}