.jamco-background {
    background-image: url(https://i.pinimg.com/originals/96/61/92/966192d063580cb1d7d90d5b4527f347.gif);
    object-position: center;
    border-width: 2px;
    border-style: solid;
    border-color: #000000c6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5px;
}

.jamco-header {
    background-image: url(https://i.pinimg.com/originals/33/80/c6/3380c67117f868fb41ef2b1170fd5dc7.gif);
    object-position: center;
    border-width: 2px;
    border-style: solid;
    border-color: #000000c6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5px;
}

.jamco-h3 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.jamco-text {
    color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15px;
    background-color: none;
    border: 1px solid #ffffff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.jamco-button {
    background-image: url(https://i.pinimg.com/originals/33/80/c6/3380c67117f868fb41ef2b1170fd5dc7.gif);
    object-position: center;
    text-align: center;
    color: #ffffff;
    font-weight: 50px;
}