.jamco-border {
    background-color: #00FFFF;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
}

.jamco-h3 {
    text-align: center;
    color: #000000;
    font-weight: bold;
}