#semicolonHead{background-image: url(https://media2.giphy.com/media/xTcnSWYZvafyhEACBO/200w.webp?cid=ecf05e476qb0kydhw1cfl35vtfyh0uf2sf1371r1n656l85g&ep=v1_gifs_search&rid=200w.webp&ct=gif);object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(0, 255, 0);box-shadow: -5px 0 5px 5px rgba(0, 255, 0, 0.25), 5px 0 5px 5px rgba(0, 255, 0, 0.25), 0 -5px 5px 5px rgba(0, 255, 0, 0.25); background-repeat: no-repeat;background-size: cover; background-position-y: -40px;text-decoration:none !important;}

#semicolonheader{text-align: center; color: rgb(0, 255, 0);font-weight: 750;-webkit-text-stroke: 1px black;}

#semicolonBody{background-image: url(https://media0.giphy.com/media/PERfyIVjsu25i/200w.webp?cid=ecf05e47mym4p2d1140ugpie9jpu5fdlo4tjvglueouiew4z&ep=v1_gifs_related&rid=200w.webp&ct=g); border-width: 2.5px; border-style: solid; border-color: rgb(0, 255, 0);box-shadow: -5px 0 5px 5.5px rgba(0, 255, 0, 0.25), 5px 0 5px 5.5px rgba(0, 255, 0, 0.25); background-size: auto, 50%; background-repeat: no-repeat; background-size: cover;}

#semicolonLogo{width: 70px; display: block; box-shadow: 0px 0px 5px 2.5px rgb(0, 225, 0); margin-left: 42.5%;}

#semicolonNames{margin-left: 5%; color: rgb(0, 255, 0); font-family: monospace; font-size: 18px; background-color: rgba(0, 0, 0, 0.5); border: 1px solid rgb(0, 225, 0); border-bottom-left-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;}

#semicolonNames:hover{background-color: rgba(0,225,0,0.5); color: black; font-weight: bolder;}

#semicolonAvatar{width:25px;margin-top: 1px; box-shadow: 0px 0px 2.5px 1px rgb(0, 225, 0); border-radius: 50%;}

#semicolonGit{box-shadow: 0px 0px 2.5px 1px rgb(0, 225, 0);}

#semicolonButton {
  color: rgb(18, 58, 11) !important;
  background-image: linear-gradient(rgba(0, 255, 89, 0.555), rgba(145, 255, 0, 0)),
                    url(https://i.pinimg.com/564x/b7/c8/0c/b7c80ce6a8b74db302130346c6a867c9.jpg);
  background-position-y: top;
  box-shadow: -5px 0 5px 5px rgba(14, 163, 56, 0.25), 5px 0 5px 5px rgba(5, 57, 148, 0.25), 0 5px 5px 5px rgba(0, 34, 255, 0.25);
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-family: monospace;
  font-weight: 900;
  text-shadow: 1px 2px #000000;
}

#semicolonButton:hover{color: rgb(0, 150, 0)!important;}  