*{
    margin: 0px;
    padding: 0px;
}
#warriors header {   
    background-image: url('https://i.gifer.com/origin/84/84d79f587caeee69caf306386ec3527d_w200.gif'); box-shadow: 0px 0px 8px 4px rgb(93, 121, 121);}
#warriors{
    background-image: url(https://media.tenor.com/WpgSYAYBpLkAAAAC/hacker.gif); background-size: auto; background-repeat: no-repeat; background-size: cover; box-shadow: 0px 0px 8px 4px rgb(15, 17, 16);
}
#warriorslogo{
    width:80%;
}
#Maricarb{
    width:30px; height:30px;
}
#Maricar{
    width:20px; height:20px;
}
#Raymond{
    width:30px; height:30px;
}
#Raymund{
width:20px; height:20px;
}
#warriorsnames{
text-align: left;font-family: 'PADERAN','MOKOTO', sans-serif, serif;color: white; text-shadow: 2px 2px 4px #000;
}
#AntonioParane{
    width:35px;margin-top: 1px;border-radius: 50%; height: 30px;
}
#Anton{
width:35px;margin-top: 1px;border-radius: 50%; height: 30px;width:35px;margin-top: 1px;border-radius: 50%; height: 30px;width:35px;margin-top: 1px;border-radius: 50%; height: 30px;width:30px; height:30px;
}