 <!---CODEGEEK--->
 <div class="w3-third w3-container">
    <div class="w3-card">
        <header class="w3-container w3-light-grey">
             <h3 style="text-align: center;color: red ; font-size:30px;font-weight: bold;font-style: italic;">CODEGEEK &#8482;</h3>
          </header>
          <div class="w3-container">    
                <a href="https://www.youtube.com/watch?v=YBS8rJvxnKo"><img src="https://hexedhorizon.github.io/it24-main/img/geek.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%;" ></a><br><br><br>
                
                <p style="margin-left: 5%; color: red; font-family: monospace; font-size: 18px;font-weight: bold;font-style: italic;">JAY AGUANTA <img src="https://media.giphy.com/media/jbJYmyIdelAJh9LQPs/giphy.gif" alt="avatar"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"></a> <a href="https://github.com/jayagz"><img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="link" width="25px" height="25px"></a></p>
                <p style="margin-left: 5%; color: red; font-family: monospace; font-size: 18px;font-weight: bold;font-style: italic;">MARK ANTHONY CARDINES  <img src="https://media.giphy.com/media/REK7FrxUzVcDS/giphy.gif" alt="My Profile"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"></a> <img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif"  alt="link" width="25px" height="25px"></a></p>
                <p style="margin-left: 5%; color: red; font-family: monospace; font-size: 18px;font-weight: bold;font-style: italic;">SHEILLA MARGALLO  <img src="https://media.giphy.com/media/3ov9k7W6qpJPyFmHuM/giphy.gif" alt="My Profile"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"></a> <img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif"  alt="link" width="25px" height="25px"></a></p>
              <br>
              </div>
              <button class="w3-button w3-block w3-red">VIEW TEAM WEBSITE</button>
        </div>
</div>
</div>