<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT24 Main</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!---Navbar-->
  <div class="w3-bar w3-border w3-light-grey">
    <a href="https://hexedhorizon.github.io/it24-main/index.html" class="w3-bar-item w3-button"> <i class="fa fa-home"></i> Home</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">2023</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-a.html" class="w3-bar-item w3-button">IT24-A</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-b.html" class="w3-bar-item w3-button">IT24-B</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-c.html" class="w3-bar-item w3-button">IT24-C</a>
      </div>
    </div>

    <button class="w3-bar-item w3-button w3-right" id="modalButton">
      <i class="fa fa-info"></i>
    </button>

    <div id="it24-main-index-modal" class="w3-modal">
      <div class="w3-modal-content ">
        <div class="w3-container">
          <span id="closeModalButton" class="w3-button w3-display-topright">&times;</span>
          <!---Modal Content--->
          <div class="w3-row">
            <div class="w3-third w3-container">
              <p></p>
            </div>
            <div class="w3-third w3-container">
              <div class="w3-container w3-center">
                <br>
                <i class="w3-xxlarge fa fa-info"></i>
                <p>Welcome to the official static page repository for IT 24 - Event Driven Programming for the Academic Year 2023 - 2024.
                  This repository is a collaborative space where students can work together to build and maintain the static pages for the course.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <p></p>
            </div>
          </div>
           <!---Modal Content--->
        </div>
      </div>
    </div>
  </div>
  <!---Navbar-->

  <h1 style="text-align: center;">IT24C</h1>
  <div class="w3-row">
      <!---Group CHATGPT--->
      <div class="w3-third w3-container">
        <div class="w3-card">
          <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">CHATGPT</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                </div>
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/chatgpt.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
                </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>Group CHATGPT</h3>
              <p>Ariel Sumantin</p>
              <p>Elena Realisan</p>
              <p>Jan Jeriel Arienza</p>
              <p>Jephunneh Pinalas</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
        </div>
      </div>
      <!---DREAM TEAM--->
      <div class="w3-third w3-container">
        <div class="w3-card">
          <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">DREAM TEAM</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/dreamteam.jpg" alt="Avatar" class="w3-margin"  style = "width: 200%"> 
                </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>GROUP MEMBERS:</h3>
              <p>Jay Ivan Octat</p>
              <p>Loren Dacol</p>
              <p>Shaina Jean Heras</p>
              <p>Joan Bensulan</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
        </div>
      </div>
      <!---Group CopyPaste--->
      <div class="w3-third w3-container">
        <div class="w3-card">
          <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">TEAM COPY/PASTE</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                </div>
                  <div class="w3-third w3-container">
                    <img src="https://hexedhorizon.github.io/it24-main/img/CopyPaste.jpg" alt="Avatar" class=" w3-margin" style="width:100%">
                  </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>Group 3</h3>
              <p>Joseph Jay Baguio</p>
              <p>Mj Magsalos</p>
              <p>Carmelito Clarido jr</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
        </div>
      </div>
  </div>
  <br>

  <div class="w3-row">
    <!---CTRL Z--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h2 style="text-align: center;">Ctrl+Z</h2>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/ctrlz.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
           </div> 
            <h3> Ctrl+Z </h3>
            <hr>
            <ul>
            <li>Rey Sinabianan</li>
            <li>Jam Piodos</li>
            <li>Jay Lourd Vicelles</li>
            <li>Angelo Cabana</li>
            </ul>
            <hr>
            <p>"Error 404: Sense of Humor Not Found."</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Error--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Team error</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
               <img src="https://hexedhorizon.github.io/it24-main/img/370714567_982697829654098_4613785873355627663_n.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>GROUP Team error</h3>
            <p>Joash S. Rautraut</p>
            <p>Jethro Jay U. Balaga</p>
            <p>Lester Angelo O. Dalde</p>
            <p>Annalyn Jean M. Cervantes</p>  
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
  <!---Semicolon--->
  <div class="w3-third w3-container">
    <div class="w3-card">

      <header class="w3-container w3-light-grey" style="background-image: url(https://media0.giphy.com/media/PERfyIVjsu25i/200w.webp?cid=ecf05e47mym4p2d1140ugpie9jpu5fdlo4tjvglueouiew4z&ep=v1_gifs_related&rid=200w.webp&ct=g);object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(0, 255, 0);box-shadow: -5px 0 5px 5px rgba(0, 255, 0, 0.25), 5px 0 5px 5px rgba(0, 255, 0, 0.25), 0 -5px 5px 5px rgba(0, 255, 0, 0.25); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; ">
        <h3 style="color: aliceblue;text-align: center;">Semicolon</h3>
        
      </header>

          <header class="w3-container w3-light-grey" style="background-image: url(https://media2.giphy.com/media/xTcnSWYZvafyhEACBO/200w.webp?cid=ecf05e476qb0kydhw1cfl35vtfyh0uf2sf1371r1n656l85g&ep=v1_gifs_search&rid=200w.webp&ct=gif);object-position: center ;border-width: 2.5px;border-style: solid;border-color: rgb(0, 255, 0);box-shadow: -5px 0 5px 5px rgba(0, 255, 0, 0.25), 5px 0 5px 5px rgba(0, 255, 0, 0.25), 0 -5px 5px 5px rgba(0, 255, 0, 0.25); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -auto; ">
          
          <div class="w3-row">
          <div class="w3-third w3-container">
            </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/colon.png.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
            <div  class="w3-container" style="background: image auto; background-size: auto; background-repeat: no-repeat; background-size: cover; box-shadow: 0px 0px 8px 4px( green, ) (15, 15, 15, 0.745);">
            </div>
          </div> 
          <h3 style="color: rgb(33, 242, 1);text-align:left;" > Semicolon </h3>
          
          <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(182, 226, 191, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://i.pinimg.com/originals/85/9c/84/859c843258e41f3fa647a920bb3b7fe1.gif" alt="jemjem's avatar ^ 3 ^" width="25px" height="25px"> Arjie Tacasan<a class="w3-right w3-circle w3-margin-right" src="" alt="link" width="25px" height="25px"><a href="https://github.com/Mrgumball2004" style="color: rgb(255, 255, 255);  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
        
          <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(182, 226, 191, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcGlqbDEwMnI5NzRhMG0xdHAyeDZuNXlhcmF6cmU1NGZlc3g5ZDR3NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fByehYIrOIzO8XolJK/giphy.gif" alt="jemjem's avatar ^ 3 ^" width="25px" height="25px">Benz Jeram Tinga<a class="w3-right w3-circle w3-margin-right" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="link" width="25px" height="25px"><a href="https://github.com/Jemjem7" style="color: rgb(255, 255, 255);  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
         
          <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(184, 215, 191, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://avatars.githubusercontent.com/u/143619565?v=4" alt="Zyrel's avatar ^ 3 ^" width="25px" height="25px">Zyrel James Tagarda<a class="w3-right w3-circle w3-margin-right" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="link" width="25px" height="25px"><a href="https://github.com/ZyrelJames" style="color: rgb(255, 255, 255);  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
         
          <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(190, 213, 195, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://avatars.githubusercontent.com/u/143726941?v=4" alt="Realdjun's avatar ^ 3 ^" width="25px" height="25px">Realdjun odon<a class="w3-right w3-circle w3-margin-right" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="link" width="25px" height="25px"><a href="https://github.com/realdjun2" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
  
        </div>
        <button class="w3-button w3-block w3-red" style="color: rgb(18, 58, 11)important; background-image:linear-gradient(rgba(0, 255, 89, 0.555),rgba(145, 255, 0, 0)), url(https://i.pinimg.com/564x/b7/c8/0c/b7c80ce6a8b74db302130346c6a867c9.jpg); background-position-y: top;  box-shadow: -5px 0 5px 5px rgba(14, 163, 56, 0.25), 5px 0 5px 5px rgba(5, 57, 148, 0.25), 0 5px 5px 5px rgba(0, 34, 255, 0.25); transition: 0.2s; background-repeat: no-repeat; background-size: cover; font-weight: bold; font-family: monospace; font-weight: 900px; text-shadow: 1px 2px #000000;">VIEW TEAM WEBSITE</button>

        </div>
        </div>  
  <br>

  <div class="w3-row">
    <!---Group Teambangan--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">TEAMBANGAN</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/g1.jpg" alt="Avatar" class=" w3-margin" style="width:100%">
                </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>Group 1</h3>
            <p>Angel Justine Ballaso</p>
            <p>Chilo Yvonne Basarte</p>
            <p>Christian Philip Paca</p>
            <p>Justine Kyle Remulta</p>
            <p>Janine Grace P. Suello</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
      </div>
    </div>
    <!---Code Addicts--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Code Addicts</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/adik.PNG" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>Group Code Addicts</h3>
            <p>Jaysash Gundaya</p>
            <p>Catherene Labinisia</p>
            <p>Farah Gundaya</p>
            <p>Jovelyn Rabago</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Bukog--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Team Bukog</h3>
           <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
               <img src="https://hexedhorizon.github.io/it24-main/img/bukog.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
           <h3>GROUP MEMBERS</h3>
           <p>Sarah Mae M. Suyat</p>
           <p>Janice L. Gayangan</p>
           <p>Fel Cris Jene F. Esmao</p>
           <p>Alieza Balles
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
  </div>
  <br>

  <div class="w3-row">
    <!---Lagyou--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">LAG-YOU</h3>
        </header>
        <div class="w3-container">
          <div class="w3-row">
          <div class="w3-third w3-container"></div>
          <div class="w3-third w3-container">
          <img src="https://hexedhorizon.github.io/it24-main/img/lagyou.jpg" alt="Avatar" class=" w3-margin" style="width:100%"></div>
          <div class="w3-third w3-container"></div>
        </div> 
        <h3>Group 4</h3>
        <p>Keyna Gogo</p>
        <p>Rhealyn jane Javison</p>
        <p>Evarine Rayon</p>
        <p>Cleiford Jay Rule</p>
        </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT OUR WEBSITE</button>
      </div>
    </div>
  </div>  
</body>
<script src="../js/app.js"></script>
</html>