<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT24 Main</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!---Navbar-->
  <div class="w3-bar w3-border w3-light-grey">
    <a href="https://hexedhorizon.github.io/it24-main/index.html" class="w3-bar-item w3-button"> <i class="fa fa-home"></i> Home</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">2023</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-a.html" class="w3-bar-item w3-button">IT24-A</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-b.html" class="w3-bar-item w3-button">IT24-B</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-c.html" class="w3-bar-item w3-button">IT24-C</a>
      </div>
    </div>

    <button class="w3-bar-item w3-button w3-right" id="modalButton">
      <i class="fa fa-info"></i>
    </button>

    <div id="it24-main-index-modal" class="w3-modal">
      <div class="w3-modal-content ">
        <div class="w3-container">
          <span id="closeModalButton" class="w3-button w3-display-topright">&times;</span>
          <!---Modal Content--->
          <div class="w3-row">
            <div class="w3-third w3-container">
              <p></p>
            </div>
            <div class="w3-third w3-container">
              <div class="w3-container w3-center">
                <br>
                <i class="w3-xxlarge fa fa-info"></i>
                <p>Welcome to the official static page repository for IT 24 - Event Driven Programming for the Academic Year 2023 - 2024.
                  This repository is a collaborative space where students can work together to build and maintain the static pages for the course.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <p></p>
            </div>
          </div>
           <!---Modal Content--->
        </div>
      </div>
    </div>
  </div>
  <!---Navbar-->

  <h1 style="text-align: center;">IT24C</h1>
  <div class="w3-row">
      <!---Group CHATGPT--->
      <div class="w3-third w3-container">
        <div class="w3-card">
          <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">CHATGPT</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                </div>
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/chatgpt.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
                </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>Group CHATGPT</h3>
              <p>Ariel Sumantin</p>
              <p>Elena Realisan</p>
              <p>Jan Jeriel Arienza</p>
              <p>Jephunneh Pinalas</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
        </div>
      </div>
      <!---DREAM TEAM--->
      <div class="w3-third w3-container">
        <div class="w3-card">
          <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">DREAM TEAM</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/dreamteam.jpg" alt="Avatar" class="w3-margin"  style = "width: 200%"> 
                </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>GROUP MEMBERS:</h3>
              <p>Jay Ivan Octat</p>
              <p>Loren Dacol</p>
              <p>Shaina Jean Heras</p>
              <p>Joan Bensulan</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
        </div>
      </div>
      <!---Group CopyPaste--->
<div class="w3-third w3-container">
  <div class="w3-card">
    <header class="w3-container w3-light-grey" style="background-image: url(https://i.pinimg.com/originals/08/39/50/083950c527f464d967be48e78001d4cb.gif);object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(0, 0, 0);box-shadow: -5px 0 5px 5px rgba(253, 146, 46, 0.596), 5px 0 5px 5px rgba(253, 146, 46, 0.596), 0 -5px 5px 5px rgba(253, 146, 46, 0.596); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; ">
      <h3  style="text-align: center; color: rgb(253, 253, 253);font-weight: 750;-webkit-text-stroke: 1px black;">COPY/PASTE</h3>
    </header>
      <div class="w3-container"  style="background-image: url(https://media.tenor.com/KAN3wMq2iocAAAAd/fire.gif);border-width: 2.5px; border-style: solid; border-color: rgb(0, 0, 0);box-shadow: -5px 0 5px 5.5px rgba(0, 0, 0, 0.26), 5px 0 5px 5.5px rgba(0, 0, 0, 0.26); background-size: auto; background-repeat: no-repeat; background-size: cover;">    
        <a href="https://www.youtube.com/watch?v=YBS8rJvxnKo"><img src="https://imageupload.io/ib/kmNILDl3aCqSJdA_1698918743.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%;" ></a><br><br><br>
        <p style="color: rgb(255, 145, 0); font-family: cursive; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media.tenor.com/58psXyWQCs8AAAAC/ghost-rider.gif" alt="Avatar ni Josip ^ 3 ^" width="25px" height="25px">Baguio, Joseph Jay<a href="https://github.com/tiptip123"><img class="w3-right w3-circle w3-margin-right" src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/7915997/github-icon-md.png" alt="link" width="25px" height="25px"></a></p>
        <p style="color: rgb(255, 145, 0); font-family: monospace; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media2.giphy.com/media/5k9BASk41i2NazAfIK/giphy.gif" alt="Avatar ni Libat ^ 3 ^" width="25px" height="25px">JMagsalos, Mj<a href="https://github.com/himaglahi"><img class="w3-right w3-circle w3-margin-right" src="https://media0.giphy.com/media/Vaq88nJ695rAv6NMJV/giphy.gif?cid=6c09b952n1afl81sxv6pcmhf0mkjwgyf74whkj7l5oqv140a&ep=v1_stickers_related&rid=giphy.gif&ct=s" alt="link" width="25px" height="25px"></a></p>
        <p style="color: rgb(255, 145, 0); font-family: monospace; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media.tenor.com/FoBm9cS9dyAAAAAC/natsu-dragon.gif" alt="Avatar ni Edoy ^ 3 ^" width="25px" height="25px"> Clarido, Carmelito Jr<a href="https://github.com/Carmelito04"><img class="w3-right w3-circle w3-margin-right" src="https://media0.giphy.com/media/SLqHOGIF7nrtRLXiia/giphy.gif?cid=6c09b9526mafeanuj4j7cwke49ddyymjvbsvt5rx6zburam2&ep=v1_stickers_related&rid=giphy.gif&ct=s" alt="link" width="25px" height="25px"></a></p>

      <br>
      <br>
      <br>
      </div>
      <button class="w3-button w3-block w3-green" style="color: rgb(255, 126, 5) !important; background-image:linear-gradient(rgb(2, 0, 0),rgb(0, 0, 0)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC); background-position-y: top; border-width: 2px; border-style: solid; border-color: rgb(0, 0, 0); box-shadow: -5px 0 5px 5px rgba(253, 146, 46, 0.596), 5px 0 5px 5px rgba(255, 0, 0, 0), 0 5px 5px 5px rgba(0, 0, 0, 0.377); transition: 0.2s; background-repeat: no-repeat; background-size: cover; font-weight: bold; font-family: monospace; font-weight: 900px; text-shadow: 1px 2px #000000;">VIEW TEAM WEBSITE</button>
    </div><br>
</div>
    <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
  </div>
</div>
</div>

  <div class="w3-row">
    <!---CTRL Z--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h2 style="text-align: center;">Ctrl+Z</h2>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/ctrlz.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
           </div> 
            <h3> Ctrl+Z </h3>
            <hr>
            <ul>
            <li>Rey Sinabianan</li>
            <li>Jam Piodos</li>
            <li>Jay Lourd Vicelles</li>
            <li>Angelo Cabana</li>
            </ul>
            <hr>
            <p>"Error 404: Sense of Humor Not Found."</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Error--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Team error</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
               <img src="https://hexedhorizon.github.io/it24-main/img/370714567_982697829654098_4613785873355627663_n.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>GROUP Team error</h3>
            <p>Joash S. Rautraut</p>
            <p>Jethro Jay U. Balaga</p>
            <p>Lester Angelo O. Dalde</p>
            <p>Annalyn Jean M. Cervantes</p>  
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Semicolon--->
    <div class="w3-third w3-container">
      <div class="w3-card">
         <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Semicolon</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/colon.png.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            
          </div> 
        <h3>Semicolon</h3>
        <h3>Group Semicolon</h3>
            <p>Benz Jeram Tinga</p>
            <p>Arjie Tacasan</p>
            <p>RealdJun Odon</p>
            <p>ZyrelJames Tagarda</p>
      </div>
      <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
    </div>
    </div>
  </div>
  <br>

  <div class="w3-row">
    <!---Group Teambangan--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">TEAMBANGAN</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/g1.jpg" alt="Avatar" class=" w3-margin" style="width:100%">
                </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>Group 1</h3>
            <p>Angel Justine Ballaso</p>
            <p>Chilo Yvonne Basarte</p>
            <p>Christian Philip Paca</p>
            <p>Justine Kyle Remulta</p>
            <p>Janine Grace P. Suello</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
      </div>
    </div>
    <!---Code Addicts--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Code Addicts</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/adik.PNG" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>Group Code Addicts</h3>
            <p>Jaysash Gundaya</p>
            <p>Catherene Labinisia</p>
            <p>Farah Gundaya</p>
            <p>Jovelyn Rabago</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Bukog--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Team Bukog</h3>
           <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
               <img src="https://hexedhorizon.github.io/it24-main/img/bukog.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
           <h3>GROUP MEMBERS</h3>
           <p>Sarah Mae M. Suyat</p>
           <p>Janice L. Gayangan</p>
           <p>Fel Cris Jene F. Esmao</p>
           <p>Alieza Balles
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
  </div>
  <br>

  <div class="w3-row">
    <!---Lagyou--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">LAG-YOU</h3>
        </header>
        <div class="w3-container">
          <div class="w3-row">
          <div class="w3-third w3-container"></div>
          <div class="w3-third w3-container">
          <img src="https://hexedhorizon.github.io/it24-main/img/lagyou.jpg" alt="Avatar" class=" w3-margin" style="width:100%"></div>
          <div class="w3-third w3-container"></div>
        </div> 
        <h3>Group 4</h3>
        <p>Keyna Gogo</p>
        <p>Rhealyn jane Javison</p>
        <p>Evarine Rayon</p>
        <p>Cleiford Jay Rule</p>
        </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT OUR WEBSITE</button>
      </div>
    </div>
  </div>  
</body>
<script src="../js/app.js"></script>
</html>