<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT24 Main</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!---Navbar-->
  <div class="w3-bar w3-border w3-light-grey">
    <a href="https://hexedhorizon.github.io/it24-main/index.html" class="w3-bar-item w3-button"> <i class="fa fa-home"></i> Home</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">2023</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-a.html" class="w3-bar-item w3-button">IT24-A</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-b.html" class="w3-bar-item w3-button">IT24-B</a>
        <a href="https://hexedhorizon.github.io/it24-main/views/it24-c.html" class="w3-bar-item w3-button">IT24-C</a>
      </div>
    </div>
    <button class="w3-bar-item w3-button w3-right" id="modalButton">
      <i class="fa fa-info"></i>
    </button>

    <div id="it24-main-index-modal" class="w3-modal">
      <div class="w3-modal-content ">
        <div class="w3-container">
          <span id="closeModalButton" class="w3-button w3-display-topright">&times;</span>
          <!---Modal Content--->
          <div class="w3-row">
            <div class="w3-third w3-container">
              <p></p>
            </div>
            <div class="w3-third w3-container">
              <div class="w3-container w3-center">
                <br>
                <i class="w3-xxlarge fa fa-info"></i>
                <p>Welcome to the official static page repository for IT 24 - Event Driven Programming for the Academic Year 2023 - 2024.
                  This repository is a collaborative space where students can work together to build and maintain the static pages for the course.</p>
              </div>
            </div>
            <div class="w3-third w3-container">
              <p></p>
            </div>
          </div>
           <!---Modal Content--->
        </div>
      </div>
    </div>
  </div>
  <!---Navbar-->

  <h1 style="text-align: center;">IT24C</h1>
  <div class="w3-row">
  <!---ChatGPT--->
  <div class="w3-third w3-container">
    <div class="w3-card">
      <header class="w3-container w3-light-grey" style="background-image: url(https://media.giphy.com/media/QpVUMRUJGokfqXyfa1/giphy.gif); object-position: center; border-width: 2.5px; border-style: solid; border-color: rgb(0, 225, 255); box-shadow: -5px 0 5px 5px rgba(0, 225, 255, 0.25), 5px 0 5px 5px rgba(0, 225, 255, 0.25), 0 -5px 5px 5px rgba(0, 225, 255, 0.25); font-family: Roboto; background-repeat: no-repeat; background-size: cover; background-position-y: -40px;">
        <h3 style="text-align: center; color: rgb(255, 255, 255); font-weight: 750; -webkit-text-stroke: 1px black;">CHATGPT</h3>
      </header>
      <div class="w3-container" style="background-image: url(https://media.giphy.com/media/IVWrXDIfjLT77Ly6Kp/giphy.gif); border-width: 2.5px; border-style: solid; border-color: rgb(0, 225, 255); box-shadow: -5px 0 5px 5.5px rgba(0, 225, 255, 0.25), 5px 0 5px 5.5px rgba(0, 225, 255, 0.25); background-size: auto; background-repeat: no-repeat; background-size: cover;">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          <img src="https://hexedhorizon.github.io/it24-main/img/chatgpt.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%;">
        </a>
        <br><br><br>
        <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Ariel Sumantin
          <img src="https://media.giphy.com/media/MZ7yrimhG3DThJqHjl/giphy.gif?fbclid=IwAR25T1FHov0QYtM-1bkJTspRB1Jd_elTlWu2Fl9sq5ujpQi2oM3KtsaxbNA" alt="brruu" class="w3-left w3-circle w3-margin-right" style="width: 20px; margin-top: 1px; border-radius: 50%;">
          <a href="https://github.com/aryeeeeeeeeel"><img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="link" width="30px" height="30px"></a>
        </p>
        <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Elena Realisan
          <img src="https://media.giphy.com/media/NhJdL2pIFapOziElns/giphy.gif" alt="brruu" class="w3-left w3-circle w3-margin-right" style="width: 20px; margin-top: 1px; border-radius: 50%;">
          <a href="https://github.com/realizelenaa"><img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="link" width="30px" height="30px"></a>
        </p>
        <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Jan Jeriel Arienza
          <img src="https://hexedhorizon.github.io/it24-main/img/jeriel.jpg" alt="brruu" class="w3-left w3-circle w3-margin-right" style="width: 20px; margin-top: 1px; border-radius: 50%;">
          <a href="https://github.com/JanJeriel"><img class="w3-right w3-circle w3-margin-right" src="https://hexedhorizon.github.io/it24-main/img/github-logo.png" alt="link" width="30px" height="30px"></a>
        </p>
        <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Jephunneh Pinalas
          <img src="https://hexedhorizon.github.io/it24-main/img/jephunneh.jpg" alt="brruu" class="w3-left w3-circle w3-margin-right" style="width: 20px; margin-top: 1px; border-radius: 50%;">
          <a href="https://github.com/JephunnehPinalas"><img class="w3-right w3-circle w3-margin-right" src="https://hexedhorizon.github.io/it24-main/img/github-logo.png" alt="link" width="30px" height="30px"></a>
        </p>
        <br>
      </div>
      <button class="w3-button w3-block w3-blue" style="color: rgb(255, 255, 255) !important; background-image: linear-gradient(rgba(0, 183, 255, 0.219), rgba(0, 0, 0, 0)), url(https://media.giphy.com/media/xTiTnI8D1aV3vfozVm/giphy.gif); background-position-y: top; border-width: 2px; border-style: solid; border-color: rgb(0, 225, 255); box-shadow: -5px 0 5px 5px rgba(0, 225, 255, 0.25), 5px 0 5px 5px rgba(0, 225, 255, 0.25); font-family: monospace;">VISIT TEAM WEBSITE</button>
    </div>
  </div>
    <!---Group DreamTeam--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
            <h3 style="text-align: center;">DREAM TEAM</h3>
          </header>
            <div class="w3-container">
              <div class="w3-row">
                <div class="w3-third w3-container">
                  <img src="https://hexedhorizon.github.io/it24-main/img/dreamteam.jpg" alt="Avatar" class="w3-margin"  style = "width: 200%"> 
                </div>
                <div class="w3-third w3-container">
                </div>
              </div> 
              <h3>GROUP MEMBERS:</h3>
              <p>Jay Ivan Octat</p>
              <p>Loren Dacol</p>
              <p>Shaina Jean Heras</p>
              <p>Joan Bensulan</p>
            </div>
          <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
        </div>
      </div>
      <!---Group CopyPaste--->
<div class="w3-third w3-container">
  <div class="w3-card">
    <header class="w3-container w3-light-grey" style="background-image: url(https://i.pinimg.com/originals/08/39/50/083950c527f464d967be48e78001d4cb.gif);object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(0, 0, 0);box-shadow: -5px 0 5px 5px rgba(253, 146, 46, 0.596), 5px 0 5px 5px rgba(253, 146, 46, 0.596), 0 -5px 5px 5px rgba(253, 146, 46, 0.596); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; ">
      <h3  style="text-align: center; color: rgb(253, 253, 253);font-weight: 750;-webkit-text-stroke: 1px black;">COPY/PASTE</h3>
    </header>
      <div class="w3-container"  style="background-image: url(https://media.tenor.com/KAN3wMq2iocAAAAd/fire.gif);border-width: 2.5px; border-style: solid; border-color: rgb(0, 0, 0);box-shadow: -5px 0 5px 5.5px rgba(0, 0, 0, 0.26), 5px 0 5px 5.5px rgba(0, 0, 0, 0.26); background-size: auto; background-repeat: no-repeat; background-size: cover;">    
        <a href="https://www.youtube.com/watch?v=YBS8rJvxnKo"><img src="https://hexedhorizon.github.io/it24-main/img/CopyPaste.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%;" ></a><br><br><br>
        <p style="color: rgb(255, 145, 0); font-family: cursive; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media.tenor.com/58psXyWQCs8AAAAC/ghost-rider.gif" alt="Avatar ni Josip ^ 3 ^" width="25px" height="25px">Baguio, Joseph Jay<a href="https://github.com/tiptip123"><img class="w3-right w3-circle w3-margin-right" src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/7915997/github-icon-md.png" alt="link" width="25px" height="25px"></a></p>
        <p style="color: rgb(255, 145, 0); font-family: monospace; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media2.giphy.com/media/5k9BASk41i2NazAfIK/giphy.gif" alt="Avatar ni Libat ^ 3 ^" width="25px" height="25px">JMagsalos, Mj<a href="https://github.com/himaglahi"><img class="w3-right w3-circle w3-margin-right" src="https://media0.giphy.com/media/Vaq88nJ695rAv6NMJV/giphy.gif?cid=6c09b952n1afl81sxv6pcmhf0mkjwgyf74whkj7l5oqv140a&ep=v1_stickers_related&rid=giphy.gif&ct=s" alt="link" width="25px" height="25px"></a></p>
        <p style="color: rgb(255, 145, 0); font-family: monospace; background-image: linear-gradient(to right, rgba(0, 0, 0, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://media.tenor.com/FoBm9cS9dyAAAAAC/natsu-dragon.gif" alt="Avatar ni Edoy ^ 3 ^" width="25px" height="25px"> Clarido, Carmelito Jr<a href="https://github.com/Carmelito04"><img class="w3-right w3-circle w3-margin-right" src="https://media0.giphy.com/media/SLqHOGIF7nrtRLXiia/giphy.gif?cid=6c09b9526mafeanuj4j7cwke49ddyymjvbsvt5rx6zburam2&ep=v1_stickers_related&rid=giphy.gif&ct=s" alt="link" width="25px" height="25px"></a></p>
      <br>
      <br>
      <br>
      </div>
      <button class="w3-button w3-block w3-green" style="color: rgb(255, 126, 5) !important; background-image:linear-gradient(rgb(2, 0, 0),rgb(0, 0, 0)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUAAACnej3aAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC); background-position-y: top; border-width: 2px; border-style: solid; border-color: rgb(0, 0, 0); box-shadow: -5px 0 5px 5px rgba(253, 146, 46, 0.596), 5px 0 5px 5px rgba(255, 0, 0, 0), 0 5px 5px 5px rgba(0, 0, 0, 0.377); transition: 0.2s; background-repeat: no-repeat; background-size: cover; font-weight: bold; font-family: monospace; font-weight: 900px; text-shadow: 1px 2px #000000;">VIEW TEAM WEBSITE</button>
    </div><br>
</div>
    <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
  </div>
</div>
</div>

  <div class="w3-row">
    <!---CTRL Z--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h2 style="text-align: center;">Ctrl+Z</h2>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/ctrlz.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
           </div> 
            <h3> Ctrl+Z </h3>
            <hr>
            <ul>
            <li>Rey Sinabianan</li>
            <li>Jam Piodos</li>
            <li>Jay Lourd Vicelles</li>
            <li>Angelo Cabana</li>
            </ul>
            <hr>
            <p>"Error 404: Sense of Humor Not Found."</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Error--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey" style="background-image:url(https://i.pinimg.com/originals/24/bf/9e/24bf9ea5632d759d4793dabbc51e89c6.gif) ;object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(10, 10, 10);box-shadow: -5px 0 5px 5px rgba(179, 12, 12, 0.25), 5px 0 5px 5px rgba(209, 12, 12, 0.25), 0 -5px 5px 5px rgba(180, 13, 13, 0.25); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; " >
          <h3  style="text-align: center; color: rgb(250, 250, 250);font-weight: 750;-webkit-text-stroke: 1px black;">Team Error ⚠️</h3>
        </header>
          <div class="w3-container" style="background-image:url(https://i.pinimg.com/originals/46/ce/12/46ce1235c5697ce170c6e84f4b4fb4e7.gif) ;object-position: center;border-color: rgb(73, 7, 7);box-shadow: -5px 0 5px 5px rgba(143, 5, 5, 0.25), 5px 0 5px 5px rgba(138, 7, 7, 0.25), 0 -5px 5px 5px rgba(167, 4, 4, 0.25); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -1px; ">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
               <img src="https://hexedhorizon.github.io/it24-main/img/370714567_982697829654098_4613785873355627663_n.png" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3 style="margin-left: 5%; color: rgb(248, 9, 9); font-family: monospace; font-size: 18px; font-weight: 750;-webkit-text-stroke: 1px rgb(109, 7, 7);"> ERROR⚠️</h3>
            <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px; font-family: monospace; font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;">Joash Rautraut<img src="https://avatars.githubusercontent.com/u/143606643?v=4" alt="brruu"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"> <img class="w3-right w3-circle w3-margin-right"><a href="https://github.com/dyoas123" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;" ><span style="color: red;">⚠️GitHub Account⚠️</span></a>
            </p>
            <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px; font-family: monospace; font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;">Jethro Balaga<img src="https://avatars.githubusercontent.com/u/143506453?v=4" alt="brruu"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"> <img class="w3-right w3-circle w3-margin-right"><a href="https://github.com/JethroBalaga" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;" ><span style="color: red;">⚠️GitHub Account⚠️</span></a>
            </p>
            <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px; font-family: monospace; font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;">Lester Anglelo Dalde<img src="https://static.wikia.nocookie.net/roblox/images/6/69/R15_Noob.png/revision/latest/scale-to-width-down/352?cb=20180730013417" alt="brruu"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"> <img class="w3-right w3-circle w3-margin-right"><a href="https://github.com/Angelodalde00?fbclid=IwAR2M111A8Zc7zQFZ_LM_iB7YUfsNgUk43axtaqVW_g_sng6AlTPAgKan2Vc" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;" ><span style="color: red;">⚠️GitHub Account⚠️</span></a>
            </p>
            <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px; font-family: monospace; font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;">Annalyn Cervantes<img src="https://avatars.githubusercontent.com/u/129916503?v=4" alt="brruu"  class="w3-left w3-square w3-margin-right" style="width:25px;margin-top: 1px;border-radius: 50%;"> <img class="w3-right w3-circle w3-margin-right"><a href="https://github.com/Pikott143/lab1?fbclid=IwAR0ydYLqBJH2Svh8-f8TiV9823nHawfEmKPDn2gCc1i_CbAZrFrIyVH4fOc" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px black;" ><span style="color: red;">⚠️GitHub Account⚠️</span></a>
          </div>
          <button class="w3-button w3-block w3-red" style="color: rgb(49, 4, 6)important; background-image:linear-gradient(rgba(255, 0, 0, 0.555),rgba(158, 16, 16, 0)), url(https://i.pinimg.com/564x/b7/c8/0c/b7c80ce6a8b74db302130346c6a867c9.jpg); background-position-y: top;  box-shadow: -5px 0 5px 5px rgba(163, 14, 14, 0.25), 5px 0 5px 5px rgba(148, 5, 5, 0.25), 0 5px 5px 5px rgba(255, 0, 0, 0.25); transition: 0.2s; background-repeat: no-repeat; background-size: cover; font-weight: bold; font-family: monospace; font-weight: 900px; text-shadow: 1px 2px #000000;">VIEW TEAM WEBSITE</button>
      </div>
    </div>
    <!---Semicolon--->
 <div class="w3-third w3-container">
  <div class="w3-card">
    <header class="w3-container w3-light-grey" style="background-image: url(https://i.pinimg.com/originals/b6/10/e1/b610e13f094b1ccb38c5f1ec78b644b1.gif);object-position: center;border-width: 2.5px;border-style: solid;border-color: rgb(0, 255, 0);box-shadow: -5px 0 5px 5px rgba(0, 255, 0, 0.25), 5px 0 5px 5px rgba(0, 255, 0, 0.25), 0 -5px 5px 5px rgba(0, 255, 0, 0.25); font-family: Roboto; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; ">
      <h3 style="text-align: center;">Semicolon</h3>
    </header>
      <div class="w3-container">
        <div class="w3-row">
          <div class="w3-third w3-container">
          </div>
            <div class="w3-third w3-container">
              <img src="https://hexedhorizon.github.io/it24-main/img/colon.png.jpg" alt="Avatar" class=" w3-margin" style="width:80%">
            </div>
          <div  class="w3-container" style="background-image: linear-gradient(rgba(69, 30, 78, 0.703), rgba(52, 0, 125, 0.511)), url(5/Computer-screen-code-glitch-animation-gif-background-free.gif); background-size: auto; background-repeat: no-repeat; background-size: cover; box-shadow: 0px 0px 8px 4px rgba(15, 15, 15, 0.722);">
          </div>
        </div> 
        <h3>Semicolon</h3>
        <p><img src="https://i.pinimg.com/originals/85/9c/84/859c843258e41f3fa647a920bb3b7fe1.gif" alt="avatar" class="w3-left w3-square w3-margin-right" style="width:35px;margin-top: 1px;border-radius: 50%; height: 30px;">
          Arjie Tacasan <a href ="https://github.com/Mrgumball2004">
          <img src ="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style ="width
          :30px; height:30px;"></a></p>
        <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(68, 201, 95, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://avatars.githubusercontent.com/u/143716507?v=4" alt="jemjem's avatar ^ 3 ^" width="25px" height="25px">Benz Jeram Tinga<a href="https://avatars.githubusercontent.com/u/143716507?s=400&u=6ff50fccfa9d8f23f884695b49a802f9699afc16&v=4"><img class="w3-right w3-circle w3-margin-right" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="link" width="25px" height="25px"><a href="https://github.com/Jemjem7" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
        <p style="color: rgb(7, 6, 6); font-family: monospace; background-image: linear-gradient(to right, rgba(68, 201, 95, 0.644), rgba(190, 203, 255, 0.004)); border-bottom-left-radius: 11px; border-top-left-radius: 11px;"><img class="w3-left w3-circle w3-margin-right" src="https://avatars.githubusercontent.com/u/143619565?v=4" alt="Zyrel's avatar ^ 3 ^" width="25px" height="25px">Zyrel James Tagarda<a href="https://avatars.githubusercontent.com/u/143619565?v=4"><img class="w3-right w3-circle w3-margin-right" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="link" width="25px" height="25px"><a href="https://github.com/ZyrelJames" style="color: white;  font-size: 18px;font-weight: 750;-webkit-text-stroke: 1px rgb(0, 0, 0);" ><span style="color: rgb(0, 255, 162);">GitHub Account</span></a></a></p>
        <p>Realdjun Odon</p>
      </div>
    <button class="w3-button w3-block w3-dark-grey">TEAM WEBSITE</button>
</div>  
</div>

  <br>

  <div class="w3-row">
    <!---Group Teambangan--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey" style="background-image: url(https://media1.giphy.com/media/bmbEMk3KQrsZaWzhuT/giphy.gif?cid=ecf05e4759gqb4ftzsd8eypkj3on3g5dhgkpjzrb696ti4kg&ep=v1_gifs_search&rid=giphy.gif&ct=g); object-position: center; border-width: 2.5px; border-style: solid; border-color: rgb(7, 8, 8); box-shadow: -5px 0 5px 5px rgba(7, 7, 7, 0.25), 5px 0 5px 5px rgba(8, 8, 8, 0.25), 0 -5px 5px 5px rgba(8, 8, 8, 0.25); font-family: Roboto; background-repeat: no-repeat; background-size: cover; background-position-y: -40px;">
          <h3 style="text-align: center; color: aqua; font-weight: 1000; -webkit-text-stroke: 1px black; font-style: italic; font-size: 40px;">TEAMBANGAN</h3>
        </header>
        <div class="w3-container" style="background-image: url(https://media3.giphy.com/media/xTiTniuHdUjpOlNo1q/giphy.gif?cid=ecf05e47btumsncg5lnkx89ra3mawkeisoba2pxc5a88cii2&ep=v1_gifs_search&rid=giphy.gif&ct=g); border-width: 2.5px; border-style: solid; border-color: rgb(5, 5, 5); box-shadow: -5px 0 5px 5.5px rgba(12, 12, 12, 0.25), 5px 0 5px 5.5px rgba(8, 8, 8, 0.25); background-size: auto; background-repeat: no-repeat; background-size: cover;">
            <img src="C:\Users\CRISTINA P. SUELLO\Documents\it24-main\img\g1.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 93px; display: block; margin-left: 30%;">
          </a>
          <br><br><br>
          <ul>
          <p> <span style="color: aqua; background-color: black; font-family: Georgia; font-size: 20px;">Angel Ballaso</span> </p>

          <p> <span style="color: aqua; background-color: black; font-family: Georgia; font-size: 20px;"> Chilo Yvonne Bazarte </span> </p>

          <p> <span style="color: aqua; background-color: black; font-family: Georgia; font-size: 20px;"> Christian Philip Paca </span> </p>

          <p> <span style="color: aqua; background-color: black; font-family: Georgia; font-size: 20px;"> Justine Kyle Remulta </span> </p>

          <p> <span style="color: aqua; background-color: black; font-family: Georgia; font-size: 20px;"> Janine Grace P. Suello </span>
            <img src="https://media4.giphy.com/media/92YG8KKSjYhMc/giphy.gif?cid=ecf05e47z3sqntqmp7dkswaixvclgnsqvzbklugy6qataqdp&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="avatar" class="w3-left w3-circle w3-margin-right" style="width: 25px; height: fit-content;">
            <a href="https://github.com/JanineSuello/it24-main">
              <img class="w3-right w3-circle w3-margin-right" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTc3bGU1cGR4dGlhNjY4cTdiY3BjYmJnNzFqNzZ4d3RpdXI3eDR3ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/du3J3cXyzhj75IOgvA/giphy.gif" alt="avat" width="30px;">
            </a></p>
          </ul>
          <br>
        </div>
        <button class="w3-button w3-block w3-blue" style="color: rgb(255, 255, 255) !important; background-image: linear-gradient(rgba(12, 12, 12, 0.219), rgba(0, 0, 0, 0)), url(https://media1.giphy.com/media/bmbEMk3KQrsZaWzhuT/giphy.gif?cid=ecf05e4759gqb4ftzsd8eypkj3on3g5dhgkpjzrb696ti4kg&ep=v1_gifs_search&rid=giphy.gif&ct=g); background-position-y: top; border-width: 2px; border-style: solid; border-color: rgb(12, 12, 12); box-shadow: -5px 0 5px 5px rgba(8, 8, 8, 0.25), 5px 0 5px 5px rgba(3, 3, 3, 0.25); font-family: monospace;">VISIT TEAM WEBSITE</button>
      </div>
    </div>

    <!---Code Addicts--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">Code Addicts</h3>
        </header>
          <div class="w3-container">
            <div class="w3-row">
              <div class="w3-third w3-container">
              </div>
              <div class="w3-third w3-container">
                <img src="https://hexedhorizon.github.io/it24-main/img/adik.PNG" alt="Avatar" class=" w3-margin" style="width:80%">
              </div>
              <div class="w3-third w3-container">
              </div>
            </div> 
            <h3>Group Code Addicts</h3>
            <p><img src="https://hexedhorizon.github.io/it24-main/img/jays.jpg "style ="width:50px; height:50px;">
              Jaysash Gundaya
              <a href ="https://github.com/jaysashgundaya16">
                <img src ="image/github-logo.png" style ="width
                :20px; height:20px;">
                </a></p>
            <p><img src="https://hexedhorizon.github.io/it24-main/img/cath16.jpg "style ="width:50px; height:50px;">
              Catherene Labinisia
              <a href ="https://github.com/sortonesangel?cathcath16">
                <img src ="image/github-logo.png" style ="width
                :20px; height:20px;">
                </a></p>
            <p><img src="https://hexedhorizon.github.io/it24-main/img/farah.jpg "style ="width:50px; height:50px;">
              Farah Gundaya
              <a href ="https://github.com/GundayaFarah">
                <img src ="image/github-logo.png" style ="width
                :20px; height:20px;">
                </a></p>
            <p>Jovelyn Rabago</p>
          </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT TEAM WEBSITE</button>
      </div>
    </div>
    <!---Team Bukog--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey" style="background-image: url(https://media0.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif?cid=ecf05e47zsrdytcnhhm41ofy8w6ka4gf8lxrnrj8bjuq8cka&ep=v1_gifs_search&rid=giphy.gif&ct=g); object-position: center; border-width: 2.5px; border-style: solid; border-color: rgb(16, 81, 221); box-shadow: -3px 0 3px 3px rgb(65, 125, 255), 3px 0 3px 3px rgba(65, 125, 255), 0 -3px 3px 3px rgb(65, 125, 255); font-family: Roboto; background-repeat: no-repeat; background-size: cover; background-position-y: -40px;">
          <h3 style="text-align: center; color: rgb(255, 255, 255); font-weight: 1000; -webkit-text-stroke: 2px black; font-style: italic; font-size: 40px;">TEAM BUKOG</h3>
        </header>
        <div class="w3-container" style="background-image: url(https://media0.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif?cid=ecf05e47zsrdytcnhhm41ofy8w6ka4gf8lxrnrj8bjuq8cka&ep=v1_gifs_search&rid=giphy.gif&ct=g); border-width: 2.5px; border-style:double ; border-color: rgb(6, 81, 221); box-shadow: -3px 0 3px 3px rgb(53, 111, 238), 3px 0 3px 3px rgba(53, 111, 238); background-size: auto; background-repeat: no-repeat; background-size: cover;">
            <img src="https://hexedhorizon.github.io/it24-main/img/bukog.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%; margin-top: 5px;">
          
          <br><br><br>
          <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Sarah Mae Suyat
            <img src="https://media2.giphy.com/media/F6qKRPUEllJ5xqIZvu/giphy.gif?cid=ecf05e472bp22uyzrowmybsfr4fswaan6l6r6446mgvkdlmc&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="pooh" class="w3-left w3-circle w3-margin-right" style="width: 30px; margin-top: 1px; border-radius: 50%;">
            <a href="https://github.com/Xeirah07"><img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="link" width="30px" height="30px"></a>
          </p>
          <p style="margin-left: 5%; color: rgb(255, 255, 255); font-family: monospace; font-size: 18px;">Janice Gayangan
            <img src="https://media3.giphy.com/media/6FxJBpNTBgWdJCXKD4/giphy.gif?cid=ecf05e47t7ihz8yrr2suzeed43x4j2zwrffi3tg6u0jrl3z1&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="listen" class="w3-left w3-circle w3-margin-right" style="width: 30px; margin-top: 1px; border-radius: 50%;">
            <a href="https://github.com/GayanganJanice"><img class="w3-right w3-circle w3-margin-right" src="https://media.giphy.com/media/du3J3cXyzhj75IOgvA/giphy.gif" alt="link" width="30px" height="30px"></a>
          </p>
           <p style="color: beige; font-family: monospace; margin-left: 5%; font-size: 18px;">Fel Cris Jene F. Esmao</p>
           <p style="color: beige;font-family: monospace; margin-left: 5%; font-size: 18px;">Alieza Balles</p>
          <br>
        </div>
        <button class="w3-button w3-block w3-dark-grey" style="background-image: url(https://media0.giphy.com/media/kg19fN5BXbZGIDznzG/giphy.gif?cid=ecf05e47zsrdytcnhhm41ofy8w6ka4gf8lxrnrj8bjuq8cka&ep=v1_gifs_search&rid=giphy.gif&ct=g); border-width: 2.5px; border-style: solid; border-color: rgb(16, 81, 221); box-shadow: -3px 0 3px 3px rgba(53, 111, 238), 3px 0 3px 3px rgba(53, 111, 238), 0 -3px 3px 3px rgba(53, 111, 238); font-family: Roboto; background-repeat: no-repeat; background-size: cover; background-position-y: -40px; ">VISIT TEAM WEBSITE</button>
        
      </div>
    </div>
           
  <div class="w3-row">
    <!---Lagyou--->
    <div class="w3-third w3-container">
      <div class="w3-card">
        <header class="w3-container w3-light-grey">
          <h3 style="text-align: center;">LAG-YOU</h3>
        </header>
        <div class="w3-container">
          <div class="w3-row">
          <div class="w3-third w3-container"></div>
          <div class="w3-third w3-container">
          <img src="https://hexedhorizon.github.io/it24-main/img/lagyou.jpg" alt="Avatar" class=" w3-margin" style="width:100%"></div>
          <div class="w3-third w3-container"></div>
        </div> 
        <h3>Group 4</h3>
        <p>Keyna Gogo</p>
        <p>Rhealyn jane Javison</p>
        <p>Evarine Rayon</p>
        <p>Cleiford Jay Rule</p>
        </div>
        <button class="w3-button w3-block w3-dark-grey">VISIT OUR WEBSITE</button>
      </div>
    </div>
  </div>  

    <!-- Group Team CODEGEEK -->
    <style>
        span{
            font-style: italic;
            color:white;
            font-family: monospace;
         
        }
      </style>
      <div class="w3-third w3-container w3-block w3-black" style="background-image: url;border-width: 2.5px;border-style: solid;border-color: rgb(53, 24, 214);box-shadow: -5px 0 5px 5px rgba(39, 200, 245, 0.8), 5px 0 5px 5px rgba(39, 200, 245, 0.8), 0 -5px 5px 5px rgba(39, 200, 245, 0.8); font-family: monospace; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; color:white" >
        <div class="w3-card">
            <header  class="w3-container w3-block w3-black" style="background-image: url;border-width: 2.5px;border-style: solid;border-color: rgb(53, 24, 214);box-shadow: -5px 0 5px 5px rgba(39, 200, 245, 0.8), 5px 0 5px 5px rgba(39, 200, 245, 0.8), 0 -5px 5px 5px rgba(39, 200, 245, 0.8); font-family: monospace; background-repeat: no-repeat;background-size: cover; background-position-y: -40px; color:white">
                <style>
                    #h3{
                        
                        font-size: 30px;
                        font-style:italic;
                        font-weight: 1000;
                        font-family:monospace;
                    }
                </style>
                <h3 id ="h3" style="text-align: center; color:white;font-weight: 1000;-webkit-text-stroke: 1px black;font:bold">CODE GEEK &#8482;</h3>
            </header>
            <div class="w3-container" >
                
                    <img src="c:\Users\Ryzen\Desktop\CODEGEEK.EMBLEM.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width: 70px; display: block; margin-left: 42.5%;">
        </div>
          <p id = "p">
             <img src="c:\Users\Ryzen\Downloads\avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:25px">
             <span style="background-color:black; padding: 5px;">JAY C. AGUANTA &#9884;</span> </p>
             <p>
                <img src="c:\Users\Ryzen\Downloads\avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:25px">
                <span style="background-color: black; padding: 5px;">MARK ANTHONY CARDINES &#9884;</span> </p>
                <p>
                    <img src="c:\Users\Ryzen\Downloads\avatar.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:25px">
                    <span style="background-color: black; padding: 5px;">SHEILA MARGALLO &#9884;</span> </p>
          <p></p>
                    <br>
                </div>
            <style>
                #button{
                    font-style: italic;
                    color: black;
      
                }
            </style>
                    
                <button id="button" class="w3-button w3-block w3-black" style="color: white !important; background-image:linear-gradient(rgba(39, 200, 245, 0.8),rgba(0, 0, 0, 0)),;; border-width: 2px; border-style: solid; border-color: rgb(53, 24, 214); box-shadow: -5px 0 5px 5px rgba(39, 200, 245, 0.8), 5px 0 5px 5px rgba(39, 200, 245, 0.8), 0 5px 5px 5px rgba(39, 200, 245, 0.8); transition: 0.2s; background-repeat: no-repeat; background-size: cover; font-weight: bold; font-family: monospace; font-weight: 900px; text-shadow: 1px 2px black;">VIEW TEAM WEBSITE</button>
            </div>
            <br>
        </div>
      
  </body>
<script src="../js/app.js"></script>
</html>
